// Imports
// todo: Move fonts to a preloaded link in the HTML.
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

// Custom Resets
// todo: Take these out as settings are made for each.
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
}

// Global Variables

// Site-Wide Classes

* {
  color: rgb(37, 37, 37);
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  backface-visibility: hidden;
  perspective: 1000;
}

body {
  background-color: #fafafa;
  overflow-y: scroll;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  font-size: 1.5rem;
}

// Homepage-Specific Classes

//todo: Refactor HTML so that the title and section-container can be part of the same flexbox that's maybe 1.5 times the screen height. Then, bring back the SVGs as images instead of clipping paths, and make the divs beneath extend indefinitely to contain the text.

body {
  display: flex;
  flex-direction: column;
  // overflow: hidden;
}

.site-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1em;
  max-width: 80vw;
  // width: max(300px, 80%);
  margin: 2vh auto;
}

.logo {
  width: clamp(50px, 20%, 200px);
  filter: saturate(150%);
  animation: logo-roll 1s ease-in-out both, fade-in 1s ease-in both;
}

.site-title {
  font-size: clamp(1.5rem, 4vw, 3rem);
  letter-spacing: 0.4em;
  margin-bottom: 0.5em;
  animation: fade-in 1s ease-in 1s both;
}

.subtitle {
  font-size: clamp(1rem, 2.5vw, 1.8rem);
  letter-spacing: 0.15em;
  animation: fade-in 1s ease-in 1.5s both;
}

.homepage-section-container {
  position: relative;
  width: 100%;
  height: 100vh;
  bottom: 0;
  animation: slide-from-bottom .65s ease-in-out 2.25s both;
}

.homepage-section {
  height: 100%;
  position: absolute;
  bottom: 0%;
  width: 100%;
  opacity: 100%;
  filter: saturate(150%) brightness(100%) hue-rotate(0deg);
  transition: opacity .5s ease-out, filter 0s;
}

.homepage-section.about {
  background-color: #bfb9c7;
  clip-path: url(#about-path);
  -webkit-clip-path: url(#about-path);
}

.homepage-section.studio {
  background-color: #dce0ec;
  clip-path: url(#studio-path);
  -webkit-clip-path: url(#studio-path);
}

.homepage-section.commissions {
  background-color: #d9ccca;
  clip-path: url(#commissions-path);
  -webkit-clip-path: url(#commissions-path);
  height: 82%;
}

.homepage-section.shop {
  background-color: #84848e;
  clip-path: url(#shop-path);
  -webkit-clip-path: url(#shop-path);
  height: 75%;
}

.homepage-section.news {
  background-color: #ededed;
  clip-path: url(#news-path);
  -webkit-clip-path: url(#news-path);
  height: 50%;
}

.homepage-section-menu-link {
  position: absolute;

  p {
    font-size: clamp(1.25rem, 2vw, 3rem);
  }
}

.homepage-section-menu-link.about {
  top: 15%;
  left: 33%;
}

.homepage-section-menu-link.studio {
  right: 18%;
  top: 8%;
}

.homepage-section-menu-link.commissions {
  right: 32%;
  top: 9%;
}

.homepage-section-menu-link.shop {
  right: 20%;
  top: 22%;

  p {
    color: #fafafa;
  }
}

.homepage-section-menu-link.news {
  left: 27%;
  top: 12%;
}

.homepage-section-content {
  position: absolute;
  top: 27%;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  transition: .25s;
}

.homepage-section-content.about {
  background-color: #bfb9c7;
}

// Mobile Rules for the Homepage

@media screen and (max-width: 768px) {
  .site-header-container {
    margin-top: 10vh;
    flex-direction: column;
  }

  .homepage-section-container {
    margin-top: 6%;
  }

  .homepage-section.studio {
    clip-path: url(#studio-path-mobile);
    -webkit-clip-path: url(#studio-path-mobile);
    height: 90%;
  }

  .homepage-section.commissions {
    clip-path: url(#commissions-path-mobile);
    -webkit-clip-path: url(#commissions-path-mobile);
    height: 78%;
  }

  .homepage-section.shop {
    clip-path: url(#shop-path-mobile);
    -webkit-clip-path: url(#shop-path-mobile);
    height: 68%;
  }

  .homepage-section.news {
    height: 55%;
  }

  .homepage-section-menu-link.about {
    top: 10%;
  }

  .homepage-section-menu-link.studio {
    top: 6%;
    right: 14%;
  }

  .homepage-section-menu-link.commissions {
    right: 20%;
  }

  .homepage-section-menu-link.shop {
    top: 12%;
  }

  .homepage-section-menu-link.news {
    left: 23%;
  }
}

// Component Classes

.sm-container {
  margin: 3em auto 0;
  width: clamp(200px, 80%, 500px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-image {
  width: 25%;
}

// Utility Classes

.js-loading {
  animation-play-state: paused;
}

.centered {
  text-align: center;
}

.flip-vertical {
  transform: scaleX(-1);
}

.hide {
  opacity: 0%;
  transform: scale(0);
}

.scale-transition {
  transition: opacity .5s ease-out, filter 0s, transform .1s .5s;
}

.hover-color:hover {
  filter: saturate(200%) brightness(95%) hue-rotate(5deg);
  cursor: pointer;
  animation: bounce .5s ease-in-out;
  animation-fill-mode: forwards;
}

@media (hover: none) {
  .hover-color:hover {
    animation: none;
  }
}

// Animations

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0px);
  }

}

@keyframes logo-roll {
  from {
    transform: translateX(-200%) rotateZ(-360deg);
  }

  to {
    transform: translateX(0%) rotateZ(0deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@keyframes slide-from-bottom {
  0% {
    transform: scaleY(0);
    transform-origin: bottom;
  }

  70% {
    transform: scaleY(1.1);
  }

  90% {
    transform: scaleY(.95);
  }

  100% {
    transform: scaleY(1);
  }
}

/* DEBUG BACKGROUND-COLOR CODE */
// * {
//   background-color: rgba(165, 219, 219, 0.147);
// }