@import 'styles/blog-post.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	* {
		@apply m-0 p-0 font-sans font-light text-gray-800;
	}

	h2 {
		@apply mb-[1.5em] text-2xl font-medium md:text-3xl lg:text-4xl;
	}

	p {
		@apply text-xl lg:text-2xl lg:leading-relaxed;
	}
	li {
		@apply mb-[1em] text-xl lg:text-2xl lg:leading-relaxed;
	}

	.spacer {
		height: 100px;
	}

	body {
		background-color: #fafafa;
	}

	img {
		@apply h-[100%] w-[100%] object-cover;
	}

	@media (hover: none) {
		*:hover {
			animation: none;
		}
	}
}
