/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	p {
		@apply select-none font-sans_serif text-xl text-[var(--light)] lg:text-2xl;
	}

	strong {
		@apply font-semibold;
	}

	* {
		@apply transition-colors duration-700 ease-in-out;
	}

	h1 {
		@apply select-none;
	}

	h2 {
		@apply select-none font-serif text-4xl text-[var(--midLight)] md:text-6xl xl:text-8xl;
	}
}
