@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: rgb(37, 37, 37);
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.spacer {
  height: 25vh;
}

p {
  font-size: clamp(1rem, 1.5vw, 2rem);
}

h1 {
  font-size: clamp(1.25rem, 2vw, 3rem);
}

h2 {
  font-size: clamp(1.25rem, 2vw, 3rem);
  font-weight: 400;
}

body {
  background-color: #fafafa;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (hover: none) {
  *:hover {
    animation: none;
  }
}

.flip-vertical {
  transform: scaleX(-1);
}