@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');
@import 'styles/blog-post.css';

* {
	margin: 0;
	padding: 0;
	color: #1f2937;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}

h2 {
	margin-bottom: 1.5em;
	font-weight: 500;
	font-size: 1.5rem;
}

p {
	font-size: 1.25rem;
}

li {
	margin-bottom: 1em;
	font-size: 1.25rem;
}

.spacer {
	height: 100px;
}

body {
	background-color: #fafafa;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (min-width: 768px) {
	h2 {
		font-size: 1.875rem;
	}
}

@media (min-width: 1024px) {
	h2 {
		font-size: 2.25rem;
	}

	p,
	li {
		font-size: 1.5rem;
		line-height: 1.75;
	}
}

@media (hover: none) {
	*:hover {
		animation: none;
	}
}
